@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a modern font */
body {
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 100px;
    padding-top: calc(100px + 5%);
    margin: 5%;
}

/* Style the header */
header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 3.5em;
    background-color: #f2f2f2;
    z-index: 1000;
    font-family: 'Poppins', sans-serif;
}

header h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:has(a.active) {
    border-bottom: 2px solid #333;
}

nav a.active {
    border-bottom: 1.5px solid #333;
}

nav a:hover {
    color: #555;
}

#mainContent {
    padding: 20px;
    background-color: #fff;
}

/* Container for notes */
.brief {
    max-width: 800px;
    margin: 0 auto;
    margin-top: calc(100px - 10%);
    padding: 20px;
    border-left: 1px solid #ccc;
}

.brief h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;

}

.brief sub{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.brief li{
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Notes container */
.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 3% 3% 3% 6%;
}

/* Style h1 */
.note {
    h1, h2{
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

/* Style h2 */
.note h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Style p */
.note p {
    font-size: 14px;
    line-height: 1.5;

}

.misc {
    max-width: 800px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

.misc summary {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.misc p{
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* creates three columns */
    grid-template-rows: auto; /* rows size to content */
    gap: 10px; /* 20px gap between items */
}

.misc img,
.misc video,
.misc audio{
    max-width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Style the form */
.form {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 3%;
    padding-left: 6%;
}

.form > fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.form legend {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input[type="text"],
.form input[type="radio"],
.form input[type="checkbox"],
.form datalist,
.form select,
.form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form button[type="submit"]:hover {
    background-color: #555;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: 50px;
    left: 0;
    bottom: 0;
    padding: 20px;
    background-color: #f2f2f2;
}

footer p {
    font-size: 14px;
    color: #333;
}

/* Add some spacing between notes */
.note + .note {
    margin-top: 20px;
}